.well {
  margin-top: 20px;
  overflow: hidden;
}

.thumbnail {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}

.dropdown {
  margin-top: 10px;
}

.posted {
  float: right;
}
