<!DOCTYPE html>
<html ng-app= 'myApp'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href='app.css'>
    <title>Reddit</title>
  </head>
  <body ng-controller = 'MainController'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">g | Reddit</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click='toggleForm()'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
Submit</a></li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <li class="dropdown" ng-model='dropdown'>
            <dropdown class="dropdown-toggle" type="dropdown" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sort by {{dropdown}}
              <span class="caret"></span>
            </dropdown>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#" ng-click='sortByVotes("Votes")'>Votes</a></li>
              <li><a href="#" ng-click='sortByVotes("Date")'>Date</a></li>
              <li><a href="#" ng-click='sortByVotes("Title")'>Title</a></li>
            </ul>
          </li>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {{3+4}}
    <div class='container'>
      <form ng-show ='showForm'>
        <div class="form-group">
          <label for="title">Title</label>
          <input ng-model='title' type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input ng-model='author' type="text" class="form-control" id="author" placeholder="Author">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input ng-model='image' type="text" class="form-control" id="image" placeholder="Image">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input ng-model='description' type="text" class="form-control" id="description" placeholder="Description">
        </div>
        <button type="submit" ng-click="submitPost()" class="btn btn-default">Submit</button>
      </form>
      <div ng-repeat='post in posts'>
        <div class="well">
          <p>
            <img class="thumbnail" src='{{post.image}}' />
            <h3>{{post.title}} | <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click = 'upVote(post)'></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click = 'downVote(post)'></span>
            <span ng-style = "post.count < 0 && {'color': 'red' } || post.count > 0 && { 'color': 'green'}">{{post.count}}</span>
            <small class='posted'>By - {{post.author}}</small></h3>
            {{ post.description }}
              <p>
                <span class="glyphicon glyphicon-calendar">{{date}}</span>
                | <span ng-click='toggleComments()' class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span ng-repeat = 'comment in comments' ng-show='showComments'>{{comment.authorC}} {{comment.text}}</span>
                    comments
                |
                <span ng-click='toggleComment()' class="glyphicon glyphicon-pencil" aria-hidden="true">Add Comment</span>
                <p ng-show='showComment'>
                  <label for='authorC'>Author</label>
                  <input ng-model='authorC' type='text' id='authorC'>
                  <label for='text'>Text</label>
                  <input ng-model='text' type='text' id='text'>
                  <button type="submit" ng-click="submitComment()" class="btn btn-default">Submit</button>
                </p>
              </p>
            </p>
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  </body>
</html>
